/.idea
/.yardoc

# 解包提取时生成的文件
/Data
/Data_NEW
/Graphics
/JSON
/JSON_NEW
Game.rgss3a
ManualTransFile.json
ManualTransFile_scripts.json

# rake 任务生成的文件夹
/doc
/pkg
/tmp
/lib/R3EXS/rgss3a_rvdata2.so
R3EXS-windows_Tebako.exe
R3EXS-windows_Ocran.exe